/* Removed background-image styling */

.login-page {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Transparent container for the form */
  .login-container {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 400px;
    text-align: left;
    margin-top: 8%;
  }
  
  /* Logo styling */
  .login-logo img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  /* Form inputs */
  .login-form input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .login-form input:focus {
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Login button styling */
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  /* Link styling */
  .login-link {
    margin-top: 20px;
    color: #007bff;
  }
  
  .login-link a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  