.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
  }
  
  .signup-content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 8px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 9%;
  }
  
  .signup-logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }
  